<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/programming_tutorial</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <!--<property value="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>-->

        <!-- DB schema will be updated if needed -->
        <!-- <property value="hbm2ddl.auto">update</property> -->
        <mapping class="model.entities.Theme"/>
        <!--<mapping resource="model/entities/Theme.hbm.xml"/>-->
        <mapping class="model.entities.Theory"/>
        <!--<mapping resource="model/entities/Theory.hbm.xml"/>-->
        <mapping class="model.entities.Task"/>

        <mapping class="model.entities.Pupil"/>
        <mapping class="model.entities.Parent"/>
        <mapping class="model.entities.Teacher"/>
        <mapping class="model.entities.School"/>
        <mapping class="model.entities.User"/>

    </session-factory>
</hibernate-configuration>