.star {
    color: red;
    font-size: 10pt;
}

.symbol {
    color: red;
}

#tab2, #tab3 {position: fixed; }

.menu > a,
.menu #tab2:target ~ a:nth-of-type(1),
.menu #tab3:target ~ a:nth-of-type(1),
.menu > div { padding: 5px; border: 1px solid #aaa; }

.menu > a { line-height: 28px; background: #fff; text-decoration: none; }

#tab2,
#tab3,
.menu > div,
.menu #tab2:target ~ div:nth-of-type(1),
.menu #tab3:target ~ div:nth-of-type(1) {display: none; }

.menu > div:nth-of-type(1),
.menu #tab2:target ~ div:nth-of-type(2),
.menu #tab3:target ~ div:nth-of-type(3) { display: block; }

.menu > a:nth-of-type(1),
.menu #tab2:target ~ a:nth-of-type(2),
.menu #tab3:target ~ a:nth-of-type(3) { border-bottom: 2px solid #fff; }

nav {
    align-content: left;
}

.menu_item {
    text-decoration: none;
    color: rgb(159, 89, 3);
    padding: 5px;
    font: 22px bold;
    display: block;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(240,182,109,1) 100%);
    width: 130px;
    text-align: center
}

.inline_block {
    display:inline-block;
    align-content: right;
}

#textarea {
    display: inline-block;
    margin-top: 15px;
}

.canvas, .buttons, #message {
    display: inline-block;
    vertical-align: top;
}

#textarea {
    border: 3px solid rgb(139, 9, 12);
 }

.buttons > button {
    width: 85px;
    height: 85px;
    margin: 5px;
}

.buttons > button > img {
    width: 75px;
    height: 75px;
}

#message {
    display: inline-block;
    height: 20px;
    width: 300px;
    border: 2px solid rgb(139, 9, 12);
    float: right;

}

#functional_buttons {
    display: inline-block;
}

dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    background: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}




